#bts , #bp , #exo
{ height: 500; width: 500; border-radius: 10px;}
h3
{font-style: unset;  color: aliceblue;}
#butter , #jimin 
{ width: 600px; height: 500px;}
#BUTTER1
{ width: 600px;  height: 650px;}
.button
{top: 100px; height: 50px; width: 50px;}
canvas
{border: 0px solid white; border-radius: 0px ;}
#button
{width: 100%; font-size: 24px; background-color: transparent; color: white; font-family: Georgia, 'Times New Roman', Times, serif; border-color: transparent; text-align: left;}
#btn
{width: 100%; font-size: 24px; background-color: transparent; color: white; font-family: Georgia, 'Times New Roman', Times, serif;}